html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
 
.clearfix:before, .clearfix:after {
   content: " ";
   display: block;
   clear: both;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-toggle {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/***************************/
/* Custom Code Starts Here */
/***************************/

/*----------------*/
/* CSS ANIMATIONS */
/*----------------*/

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 38px;
	}

	100% {
		padding-top: 20px;
	}
}

.slide-in {
	animation: slide-in 0.8s ease forwards;
}

.slide-out {
	animation: slide-out 0.8s ease forwards;
}

@keyframes slide-in {
	from { transform: translateX(-50px); }
	to { transform: translateX(130px); }
}

@keyframes slide-out {
	from { transform: translateX(130px);}
	to { transform: translateX(-50px); }
}

/*---------*/
/* UTILITY */
/*---------*/

.underline {
	border-top: solid black 3px;
	/*width: 80%;*/
	margin: 10px 0 0 0;
}

.subheading_underline {
	border-top: solid black 3px;
	width: 20%;
	margin: 0 auto 70px;
}

/*---------*/
/* GENERAL */
/*---------*/

.profile_container,
.experiences_container,
.abilities_container,
.projects_container,
.contact_container {
	width: 70%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 30px 0 50px;
}

h2 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 20px 0 20px;
}

hr {
	margin: 40px 0;
	opacity: 0.2;
	border: 1px solid black;
}

p {
	font-size: 16px;
	font-family: 'Ubuntu', 'sans-serif';
}

h4 {
	margin-bottom: 20px;
	font-weight: bold;
}

/*------*/
/* MAIN */
/*------*/

#main {
	height: 100vh;
	width: auto;
	background: url('../images/new_zealand_aoraki_mount_cook_national_park.jpg'); 
	display: flex;
	justify-content: center;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_container {
	position: absolute;
	top: 50px;
	left: 100px;
}

.main_container h1,
.main_container p {
	font-family: 'Hammersmith One', sans-serif;
}

.main_container h1 {
	font-size: 50px;
}

.main_container p {
	font-size: 30px;
	margin-top: 10px;
}

.scroll-down {
	height: 80px;
	width: 110px;
	display: block;
	position: absolute;
	bottom: 0px;
	/*left: 5%;*/
	text-align: center;
	background-color: black;
	z-index: 2;
}

.scroll-down .glyphicon {
	color: white;
	font-size: 30px;
	padding-right: 2px;
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*--------*/
/* NAVBAR */
/*--------*/

.navbar {
	left: -100px;
	float: left;
	z-index: 2;
}

.navbar .navbar-collapse {
	padding: 0;
}

.navbar .navbar-collapse ul {
	padding-left: 0;
	margin: 0;
	background-color: #1E65BA;
}

.navbar .navbar-collapse li {
	list-style-type: none;
	line-height: 3.5;
	text-align: center;
	border: 1px solid black;
	padding: 0;
}

.navbar .navbar-collapse a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: white;
}

.navbar .navbar-collapse .active a {
	background-color: red;
}

/*---------*/
/* PROFILE */
/*---------*/

#profile {
	/*background-color: #FCF3DB;*/
}

#profile h3 {
	text-align: center;
}

#profile p {
	width: 70%;
	margin: 0 auto;
}

.profile_container img {
	/*margin: 0 auto;*/
	height: 240px;
	width: 240px;
}

.profile_img_container {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	margin-top: 20px;
}

/*-------------*/
/* EXPERIENCES */
/*-------------*/

#experiences {
	background-color: #FEF9CD;
}

.experiences_container h3 {
	margin-left: 15px;
}

.experiences_container .row {
	margin: 50px 15px;
}

.experiences_container .row div {
	padding: 0;
}

/*-----------*/
/* ABILITIES */
/*-----------*/

#abilities {
	background-color: white;
}

.list_items {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

.list_items li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.list_items li span {
	display: none;
}

.list_items li:hover i,
.list_items li:hover img {
	opacity: 0.2;
}

.list_items li:hover span {
	display: block;
	position: absolute;
	font-family: 'Ubuntu', 'sans-serif';
	font-size: 24px;
}

.list_items li img {
	height: 65px;
	width: 70px;
}

/*----------*/
/* PROJECTS */
/*----------*/

#projects {
	background-color: #FEF9CD;

}

#projects img {
	height: 300px;
	width: 450px;
}

/*---------*/
/* CONTACT */
/*---------*/

#contact {
	background-color: #ACB1B7;
}



















