html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
 
.clearfix:before, .clearfix:after {
   content: " ";
   display: block;
   clear: both;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Samsung Galaxy S6 */
@media only screen and (min-width : 360px) {
	/* MAIN */
	.main_container h1 {
		font-size: 50px;
	}

	.main_container p {
		font-size: 30px;
		margin-top: 10px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	/* ABILITIES */
	.list_items li img {
		height: 65px;
		width: 70px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	/* GENERAL */
	.profile_container,
	.experience_container,
	.education_container,
	.abilities_container,
	.projects_container,
	.contact_container {
		width: 60%;
		padding: 60px 0;
	}

	/* MAIN */
	.scroll-down {
		width: 110px;
	}

	/* NAVBAR */
	.navbar {
		width: auto;
		height: 100%;
	}

	.navbar_extended_container {
		display: block;
	}

	.navbar .navbar-collapse a {
		display: block;
	}

	.nav_main .menu_bars {
		display: flex;
		justify-content: center;
	}

	.navbar .nav_main > ul li {
		width: 80px;
	}

	.nav_main .nav li a i {
		position: initial;
	}

	.nav_main .nav .menu_tag {
		display: none;
	}

	/* ABILITIES */
	.list_items {
		flex-wrap: nowrap;
	}

	.list_items li:hover span {
		font-size: 24px;
	}

	/* CONTACT */
	.contact_container ul {
		padding-left: 40px;
	}

	.contact_container ul li p {
		margin-left: 50px;
		font-size: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/* MAIN */
	.main_container {
		left: 100px;
		top: 50px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* MAIN */
	.main_container {
		left: 50px;
		top: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/* GENERAL */
	.profile_container,
	.experience_container,
	.education_container,
	.abilities_container,
	.projects_container,
	.contact_container {
		width: 80%;
		padding: 110px 0;
	}

	/* MAIN */
	.scroll-down {
		width: 100%;
	}

	/* NAVBAR */
	.navbar {
		width: 100%;
		height: 0;
	}

	/* START Adjust nav bootstrap to collapse at this width not the default 787px */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
	/* END */

	.navbar_extended_container {
		display: none;
	}
	
	.navbar .navbar-collapse a {
		display: flex;
		align-items: center;
	}

	.nav_main .menu_bars {
		display: none;
	}

	.navbar .nav_main > ul li {
		width: 100%;
	}

	.nav_main .nav li a i {
		position: absolute;
		left: 39%;
	}

	.nav_main .nav .menu_tag {
		position: absolute;
		left: 60px;
		top: 0;
		display: block;
		font-family: 'Ubuntu', sans-serif;
	}

	/* ABILITIES */
	.list_items {
		flex-wrap: wrap;
	}

	.list_items li:hover span {
		font-size: 18px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	/* GENERAL */
	.profile_container,
	.experience_container,
	.education_container,
	.abilities_container,
	.projects_container,
	.contact_container {
		width: 90%;
		padding: 70px 0;
	}

	/* MAIN */
	.main_container {
		left: 30px;
		top: 0;
	}

	/* NAVBAR */
	.nav_main .nav li a i {
		position: absolute;
		left: 10%;
	}

	/* ABILITIES */
	.list_items li:hover span {
		font-size: 16px;
	}

	.list_items li img {
		height: 42px;
		width: 42px;
	}

	/* CONTACT */
	.contact_container ul {
		padding-left: 15px;
	}

	.contact_container ul li p {
		margin-left: 30px;
		font-size: 16px;
	}

}

/* Samsung Galaxy S6 */ 
@media only screen and (max-width : 360px) {
	/* MAIN */
	.main_container h1 {
		font-size: 40px;
	}

	.main_container p {
		font-size: 20px;
		margin-top: 10px;
	}

	/* ABILITIES*/
	.list_items li:hover span {
		font-size: 12px;
	}

	/* CONTACT */
	.contact_container ul {
		padding-left: 5px;
	}

	.contact_container ul li p {
		margin-left: 15px;
		font-size: 16px;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/***************************/
/* Custom Code Starts Here */
/***************************/

/*----------------*/
/* CSS ANIMATIONS */
/*----------------*/

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 38px;
	}

	100% {
		padding-top: 20px;
	}
}

/*.slide-in {
	animation: slide-in 0.8s ease forwards;
}

.slide-out {
	animation: slide-out 0.8s ease forwards;
}

@keyframes slide-in {
	from { transform: translateX(-101%); }
	to { transform: translateX(0); }
}

@keyframes slide-out {
	from { transform: translateX(0);}
	to { transform: translateX(-101%); }
}

.slide-menu-in {
	animation: slide-menu-in 0.8s ease forwards;
}

.slide-menu-out {
	animation: slide-menu-out 0.8s ease forwards;
}

@keyframes slide-menu-in {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}

@keyframes slide-menu-out {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}*/

/*.slide-content-container-in {
	animation: slide-content-container-in 0.8s ease forwards;
}

.slide-content-container-out {
	animation: slide-content-container-out 0.8s ease forwards;
}

@keyframes slide-content-container-in {
	from { transform: translateX(0); }
	to { transform: translateX(119.672px);}
}

@keyframes slide-content-container-out {
	from { transform: translateX(119.672px); }
	to { transform: translateX(0);}
}*/

/*---------*/
/* UTILITY */
/*---------*/

.underline {
	border-top: solid black 3px;
	/*width: 80%;*/
	margin: 10px 0 0 0;
}

.h2_underline {
	border-top: solid black 3px;
	width: 20%;
	margin: 0 auto 70px;
}

.h3_underline {
	border-top: solid black 2px;
	margin-left: 0;
	margin-top: 20px;
}

.title_container {
	display: inline-block;
}

/*---------*/
/* GENERAL */
/*---------*/

.profile_container,
.experience_container,
.education_container,
.abilities_container,
.projects_container,
.contact_container {
	margin: 0 auto;
}

h2 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 0 0 20px;
	color: #E9633B;
}

h3 {
	margin: 0;
	color: #E9633B;
}

h4 {
	margin-bottom: 20px;
	font-weight: bold;
}

.section_break {
	background-color: #ECEAE0;
}

hr {
	margin: 0 auto;
	opacity: 0.2;
	border: 1px solid black;
	width: 60%;
}

p {
	font-size: 16px;
	font-family: 'Ubuntu', 'sans-serif';
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.all_content_container {
	position: absolute;
	left: 0;
	top: 100%;
	overflow-x: hidden;
}

/*------*/
/* MAIN */
/*------*/

.parallax {
	height: 100vh;
	width: auto;
	background: url('../images/new_zealand_aoraki_mount_cook_national_park.jpg'); 
	display: flex;
	justify-content: center;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.main_container {
	position: absolute;
}

.main_container h1,
.main_container p {
	font-family: 'Hammersmith One', sans-serif;
}

.scroll-down {
	height: 80px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: black;
	z-index: 2;
}

.scroll-down .glyphicon {
	color: white;
	font-size: 30px;
	padding-right: 2px;
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*--------*/
/* NAVBAR */
/*--------*/

.navbar {
	float: left;
	border: none;
	background: #0A4387;
	z-index: 4;
}

.navbar-default {
	border-radius: 0;
}

.navbar .nav_main{
	position: relative;
}

.navbar .navbar-collapse {
	padding: 0;
	border: none;
}

.navbar .navbar-collapse ul {
	padding-left: 0;
	margin: 0;
	background-color: #0A4387;
}

.navbar .navbar-collapse li {
	list-style-type: none;
	line-height: 3.5;
	height: 80px;
}

.navbar .navbar-collapse a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	height: 100%;
}

.navbar-toggle {
	margin-bottom: 6px;
}

.navbar-default .navbar-toggle:hover {
	background-color: #0A4387;
}

.navbar-default .navbar-toggle {
	border-color: white;
	border-width: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar .navbar-collapse .active a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	/*background-color: #D57C1C;*/
	background-color: #E9633B;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: transparent;
}

.nav-pills > li > a {
	border-radius: 0;
}

.nav_main .menu_bars {
	color: white;
	padding-top: 40%;
}

.nav-stacked > li+li {
	margin-top: 0;
}

.fa-user-o {
	color: white;
}

.navbar_extended_container {
	position: absolute;
	left: 100%;
	top: 0;
	z-index: -1;
}

.navbar_extended {
	position: relative;
	top: 0;
	left: -100%;
	height: 100vh;
	background: #0A4387;
}

.nav_main ul a {
	text-align: center;
}

.navbar_extended ul a {
	text-align: left;
}

/*---------*/
/* PROFILE */
/*---------*/

#profile {
	/*background-color: #FCF3DB;*/
}

.profile_container h3 {
	text-align: left;
	margin: 0 auto 40px auto;
	/*width: 80%;*/
}

.profile_container p {
	/*width: 80%;*/
	margin: 0 auto;
	text-align: justify;
	font-size: 16px;
}

.profile_container img {
	/*margin: 0 auto;*/
	height: 240px;
	width: 240px;
}

.profile_img_container {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	margin-top: 40px;
}

/*------------------------*/
/* EXPERIENCE & EDUCATION */
/*------------------------*/

#experience,
#education {
	/*background-color: #FEF9CD;*/
	background-color: #ECEAE0;
}

.experience_container .row,
.education_container .row {
	margin-top: 50px;
}

.experience_container .row div,
.education_container .row div {
	padding-left: 0;
	padding-right: 0;
}

.experience_container .row .exp_desc p,
.education_container .row .exp_desc p {
	text-align: justify;
}

/*-----------*/
/* ABILITIES */
/*-----------*/

#abilities {
	background-color: white;
}

.list_items {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

.list_items li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.list_items li span {
	display: none;
}

.list_items li:hover i,
.list_items li:hover img {
	opacity: 0.2;
}

.list_items li:hover span {
	display: block;
	position: absolute;
	font-family: 'Ubuntu', 'sans-serif';
}

.abilities_container h3 {
	margin-bottom: 60px;
}

.abilities_container hr {
	margin: 80px 0;
	width: 100%;
}

/*----------*/
/* PROJECTS */
/*----------*/

#projects {
	/*background-color: #FEF9CD;*/
	background-color: #ECEAE0;
}

.projects_container img {
	height: 100%;
	width: 100%;
}

.projects_container .content {
	margin-bottom: 30px;
}

.projects_container .image_container {
	position: relative;
}

.overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
  	-moz-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
}

.projects_container .content:hover .overlay {
	opacity: 1;
}

.projects_container .content_details {
	position: absolute;
	/*text-align: center;*/
	left: 50%;
	width: 80%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.projects_container .content:hover .content_details {
  	top: 50%;
  	left: 50%;
  	opacity: 1;
}

.fadeIn_bottom {
	top: 80%;
}

.projects_container .content_details h3 {
	color: #FEFFF8;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.projects_container .content_details p {
	text-align: left;
	color: #FEFFF8;
	font-size: 16px;
}

/*---------*/
/* CONTACT */
/*---------*/

#contact {
	/*background-color: #ACB1B7;*/
	/*background-color: #383127;*/
	/*background-color: #4C3327;*/
	background-color: #221E1D;
}

.contact_container h2 {
	color: #FEFFF8;
}

.contact_container .h2_underline {
	border-color: #FEFFF8;
}

.contact_container a,
.contact_container p {
	color: #FEFFF8;
}

.contact_container ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.contact_container ul li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.contact_container ul li p {
	margin-bottom: 0;
}



















